$--main-color: #ED7E00; //主题色

$--color-333: #333333;
$--color-666: #666666;
$--color-999: #999999;
$--color-ccc: #cccccc;
$--color-ddd: #DDDDDD;
$--color-E9: #E9E9E9;
$--color-F5: #f5f5f5;

body,
html {
  width: 100%;
  height: 100%;
}
* {
  -webkit-overflow-scrolling: touch;
}

/* 全局常用类 */
.com-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.com-over-length {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.vux-slider > .vux-swiper {
  height: 100% !important;
}
.com-icon-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* 阿里图标库引入 */
@font-face {
  font-family: 'iconfont';  /* project id 962415 */
  src: url('//at.alicdn.com/t/font_962415_4u0vt0j74c2.eot');
  src: url('//at.alicdn.com/t/font_962415_4u0vt0j74c2.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_962415_4u0vt0j74c2.woff') format('woff'),
  url('//at.alicdn.com/t/font_962415_4u0vt0j74c2.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_962415_4u0vt0j74c2.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang-yuanshijituantubiao:before { content: "\e60d"; }
.icon-fenxiang:before { content: "\e6a4"; }
.icon-zhibo:after { content: "\e600"; color: $--main-color; font-size: 26px; }
.icon-plus-close:before { content: "\e711"; }
.icon-jiantou:before { content: "\e60c"; }
.icon-yonghu:before { content: "\e638"; }
.icon-dianhua:before { content: "\e6f9"; }
.icon-home:before { content: "\e616"; }
.icon-chakan:before { content: "\e64d"; }
